
/* DEBUGGING */
/* * {
    box-sizing: border-box;
    border-color: palevioletred;
    border-style: dotted;
    border-width: 1px;
} */

/* Picks two: body and html */
body, html {
    /* Takes whole viewport height */
    height: 100%; 
    /* Margin adds space outside the element */
    margin: 0px 0px 0px 0px; 
    line-height: 1;
}

/* .box1 {
    height: 100%;
    width: 100%;
    background: url("../../resources/floral-background.jpg");

      background-repeat: no-repeat;
      background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .box2 {
    height: 100%;
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
} */

h1 {
    /* margin-top: 250px; */
    /* margin: 0px; */
    /* padding: 0px; */
    /* text-align: center; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-weight: 100; */
    /* font-size: 30px; */
}

.hero-image {
  background: url("../../resources/strawberry.gif");
    background-color: #F9EBEB;
    background-position: center;
    background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

.hero-text {
  position: absolute;
    left: 50%;
    top: 50%;
  text-align: center;
  transform: translate(-50%, 30%);
}

.hero-text h1 {
  color: palevioletred;
  font-family: 'Quicksand', sans-serif;
  font-size: 80px;
  padding-top: 15px;
}

.hero-text button {
  border: none;
  background-color: palevioletred;
  border-radius: 10px;
  font-size: 15px;
  transform: translate(0%, -160%)
}

.hero-text button:hover {
  background-color: rgb(178, 219, 247);
}

#box2 {
  height: 400px;
}

.box2a {
  height: 400px;
}

.box2a {
  background: url("../../resources/poke.gif");
    background-color: #FCFEFB;
    background-position: center;
    background-repeat: no-repeat;
  position: relative;
}

#box3 {
  height: 500px;
}

.box3a {
  height: 500px;
}

.box3a {
  background: url("../../resources/girl.gif");
    background-color: #FEFAFB;
    background-position: center;
    background-repeat: no-repeat;
  position: relative;
}

#for-fun {
  background-color: rgb(179, 215, 248);
  border: 1px solid rgb(179, 215, 248);
}

#for-fun h1 {
  font-family: 'Quicksand', sans-serif;
  line-height: 125px;
  text-align: center;
}

#for-fun p {
  font-family: 'Quicksand', sans-serif;
  line-height: 90px;
  text-align: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: palevioletred;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: rgb(178, 219, 247);
}
